.favs-container {
  width: 100%;
  text-align: center;

  .fav-title {
    margin-bottom: 20px;
  }

  .fav-btn {
    min-width: 200px;
    font-size: $font-mini;
    margin: auto;
    margin-bottom: 20px;
  }

  .remove-all-btn {
    background-color: $redishColor;
  }

  .add-more-btn {
    background-color: $greenishColor;
  }
}

@media (min-width: 48rem) {
  .favs-container {
    .fav-btn {
      font-size: $font-small;
    }
  }
}

@media (min-width: 75rem) {
  .favs-container {
    .fav-title {
      font-size: $font-big;
    }
  }
}
