// COLORS
$mainFontColor: rgb(255, 255, 255);
$secondFontColor: rgb(0, 0, 0);
$greenishColor: #068658;
$redishColor: #861d06;
$cardColor: #1b2c57;

// FONTS
$font-mini: 0.625rem; // 10px
$font-small: 0.875rem; // 14px
$font-standard: 1.25rem; // 20px
$font-mid: 1.6875rem; // 27px
$font-big: 2rem; // 32px

// OTHER
$radius: 23px;
